@use "../abstracts/" as *;

.about-me {
  &__box {
    @include respond-to("medium") {
      @include grid(50%, 1fr, center, center, 0);
    }
  }

  &__img {
    margin: auto;
    max-width: 300px;
  }

  &__bio {
    margin: auto;
    max-width: 550px;

    @include respond-to("small") {
      margin-top: 30px;
    }
  }
}
