@use "../abstracts/" as *;

.site-footer {
  z-index: 3;
  margin-top: 100px;
  width: 100%;
  text-align: center;

  &__buttons {
    margin-bottom: 15px;
  }

  a:hover {
    color: var(--accentColor);
  }
}
