@use "../abstracts/" as *;

.projects {
  &__box {
    @include respond-to("large") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      height: auto;
    }
  }
}
