@use "../abstracts/" as *;

.breadcrumb {
  position: absolute;
  top: -30px;
  left: 20px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  padding: 10px 15px;
  box-shadow: 2px 2px 9px hsl(0, 0%, 7%);
  border-radius: $borderRadius;
  background-color: var(--backgroundLvl2);
}
