@use "../abstracts/" as *;

// Override HCB Code Block defaults
.hcb_wrap {
  margin: 0 auto 18px;

  pre {
    border-radius: $borderRadius;
  }

  button {
    color: var(--textColor);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accentColor) !important;
    border-radius: $borderRadius !important;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px !important;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: $borderRadius !important;
  }
}
